nav{
    background-color: #FFE4B5;
    padding:0.6rem;
}
.navSearchBox{
    padding:1.5rem;
    margin-left:2.7rem;
}
#searchForm select{
    font-size:1.8rem;
    border:0.1rem solid gray;
    border-radius:0.6rem;
    padding:0.3rem;
}
.navInfo{
    margin-left:0.5rem;
    margin-top:2.2rem;
}
.navInfo a,.navInfo span{
    color:black;
    font-size:1.8rem;
    font-weight: 700;
}
#dropdownBooks a{
    color:inherit;
}
.navInfo a,#dropdownBooks a{
    transition: opacity 1s linear;
}
.navInfo a:hover,#dropdownBooks a:hover{
    opacity: 0.5;
}
#searchBooks{
    padding:0.6rem;
    display: inline-block;
    margin-left:0.8rem;
    border-radius:1.2rem;
    border:0.1rem solid gray;
}
.navTitle,.navSearchBox,.navInfo{
    float:left;
}
#actualTitle{
    font-size:5rem;
}
#dropdownBooks{
    height: auto;
    padding:1.2rem;
}
#bookResults{
    display:none;
    width: 42rem;
}
#bookImage{
    width: 6rem;
    height: 7.1rem;
    float:left;
    margin-right:0.6rem;
}
#bookData{
    width:40rem;
    float:left;
    background-color:#FFFACD;
    border-radius:0.6rem;
    box-shadow: 5px 10px 18px #888888;
    position: absolute;
    top:12.5rem;
    left:61rem;
}
.bookTitle{
    font-weight: 800;
    font-size:2rem;
}
#authorNames{
    margin:0.6rem 0;
}
.dropdownElement{
    height:7.1rem;
}
#nothingFound{
    text-align:center;
    font-weight: 800;
    padding:0.4rem;
}
#dropdownBooks li:last-child{
    text-align:center;
}
#searchAll{
    font-size:2rem;
    font-weight: 800;
    color: blue !important;
    text-decoration: underline;
}